section {
  border: 1px solid;
}
.form {
  margin-bottom: 100px;
}

.form-label {
  margin-left: 300px;
  color: indianred;
  font-weight: 900;
  font-size: large;
  font-family: fantasy;
}

section {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 30px;
  border: 1px solid #342f51;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  background-color: floralwhite;
}

.definition h1 {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2px;
}
